<a href="https://colab.research.google.com/github/SaurabhVaze/sales-prediction/blob/main/Project_1_Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 1 - Part 2 

Saurabh Vaze

05/26/22

In [33]:
import pandas as pd
import numpy as np

sales_df = pd.read_csv('/content/sales_predictions.csv')

In [34]:
sales_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [35]:
sales_df.shape # 1. number of rows/columns

(8523, 12)

In [36]:
sales_df.info()  # 2. What are the datatypes of each variable?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [37]:
sales_df.duplicated().sum()        # 3. Are there duplicates? If so, drop any duplicates.

0

In [38]:
sales_df.isna().sum()      # 4. Identify missing values

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [39]:
# 5. Decide on how to address the missing values and do it! 
sales_df.groupby(['Outlet_Type'])['Outlet_Size'].value_counts() #find possible correlation between outlet type and size (which has many missing values)

Outlet_Type        Outlet_Size
Grocery Store      Small           528
Supermarket Type1  Small          1860
                   High            932
                   Medium          930
Supermarket Type2  Medium          928
Supermarket Type3  Medium          935
Name: Outlet_Size, dtype: int64

In [40]:
sales_df.drop(columns='Outlet_Size', inplace=True) #Drop Outlet Size column because Outlet_Type can reflect similar insight with high correlation regarding size of the store

In [45]:
mean_weight= sales_df['Item_Weight'].mean() # Replace missing Item Weight with Column average
sales_df['Item_Weight'].fillna(mean_weight, inplace=True)

In [46]:
sales_df.isna().sum() # 6. No remaining missing values

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [48]:
sales_df.sample(50) #find columns with irregular column values

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5676,FDN60,15.100000,Low Fat,0.095546,Baking Goods,157.3604,OUT018,2009,Tier 3,Supermarket Type2,4436.8912
6182,NCW17,18.000000,Low Fat,0.019383,Health and Hygiene,129.3994,OUT035,2004,Tier 2,Supermarket Type1,3340.9844
8306,FDV50,14.300000,Low Fat,0.122762,Dairy,124.3730,OUT049,1999,Tier 1,Supermarket Type1,2093.9410
7043,NCI29,8.600000,Low Fat,0.032615,Health and Hygiene,142.9154,OUT035,2004,Tier 2,Supermarket Type1,992.7078
1249,FDC32,18.350000,Low Fat,0.099310,Fruits and Vegetables,91.4462,OUT045,2002,Tier 2,Supermarket Type1,1665.8316
6053,FDB28,6.615000,Low Fat,0.093308,Dairy,195.9426,OUT013,1987,Tier 3,Supermarket Type1,2570.6538
6110,FDR52,12.650000,Regular,0.076475,Frozen Foods,191.8846,OUT017,2007,Tier 2,Supermarket Type1,1146.5076
1565,FDE16,12.857645,Low Fat,0.026216,Frozen Foods,207.5954,OUT027,1985,Tier 3,Supermarket Type3,6668.6528
2828,FDC08,19.000000,Regular,0.103611,Fruits and Vegetables,228.3720,OUT049,1999,Tier 1,Supermarket Type1,905.4880
6684,FDE33,19.350000,Regular,0.083080,Fruits and Vegetables,80.3644,OUT010,1998,Tier 3,Grocery Store,157.1288
4774,NCK30,14.850000,Low Fat,0.061102,Household,253.2698,OUT045,2002,Tier 2,Supermarket Type1,2283.0282
1047,DRN11,7.850000,Low Fat,0.162980,Hard Drinks,145.2444,OUT046,1997,Tier 1,Supermarket Type1,1451.4440
4241,DRJ25,14.600000,Low Fat,0.150873,Soft Drinks,47.5692,OUT045,2002,Tier 2,Supermarket Type1,1379.5376
2809,FDD17,7.500000,Low Fat,0.054611,Frozen Foods,237.1906,OUT010,1998,Tier 3,Grocery Store,237.6906
7578,FDC47,15.000000,Low Fat,0.118868,Snack Foods,229.4694,OUT035,2004,Tier 2,Supermarket Type1,5937.6044
4536,NCD06,13.000000,Low Fat,0.099480,Household,44.9060,OUT049,1999,Tier 1,Supermarket Type1,652.4840
1347,FDD50,18.850000,Low Fat,0.141524,Canned,168.4132,OUT013,1987,Tier 3,Supermarket Type1,2874.9244
6016,NCY30,20.250000,Low Fat,0.025932,Household,182.5976,OUT013,1987,Tier 3,Supermarket Type1,3078.6592
8380,FDI19,15.100000,low fat,0.000000,Meat,244.2512,OUT045,2002,Tier 2,Supermarket Type1,3635.2680
2762,NCP18,12.150000,Low Fat,0.028593,Household,151.0708,OUT035,2004,Tier 2,Supermarket Type1,2858.9452
2343,FDM33,15.600000,Low Fat,0.088216,Snack Foods,220.1798,OUT017,2007,Tier 2,Supermarket Type1,5068.7354
5177,FDU12,12.857645,Regular,0.075384,Baking Goods,262.7568,OUT027,1985,Tier 3,Supermarket Type3,7646.0472
380,FDX31,12.857645,Regular,0.014754,Fruits and Vegetables,231.7958,OUT027,1985,Tier 3,Supermarket Type3,5375.0034
3967,FDV59,13.350000,Low Fat,0.048018,Breads,219.6166,OUT035,2004,Tier 2,Supermarket Type1,3483.4656
6495,FDG52,12.857645,Low Fat,0.065313,Frozen Foods,47.1402,OUT027,1985,Tier 3,Supermarket Type3,1516.0266
1276,FDF24,15.500000,Regular,0.025366,Baking Goods,82.7934,OUT035,2004,Tier 2,Supermarket Type1,1228.4010
7079,FDW51,6.155000,Regular,0.095045,Meat,213.4560,OUT018,2009,Tier 3,Supermarket Type2,2556.6720
105,FDH14,17.100000,Regular,0.046770,Canned,141.1838,OUT013,1987,Tier 3,Supermarket Type1,2247.7408
2644,FDO04,16.600000,Low Fat,0.000000,Frozen Foods,54.6614,OUT017,2007,Tier 2,Supermarket Type1,884.1824
3601,FDH47,13.500000,Regular,0.128816,Starchy Foods,96.4068,OUT046,1997,Tier 1,Supermarket Type1,2527.3768
4146,DRZ24,7.535000,Low Fat,0.081788,Soft Drinks,120.8440,OUT046,1997,Tier 1,Supermarket Type1,2157.1920
8111,DRJ35,10.100000,Low Fat,0.046848,Hard Drinks,60.6878,OUT017,2007,Tier 2,Supermarket Type1,363.5268
4115,FDP31,12.857645,Regular,0.160723,Fruits and Vegetables,65.7168,OUT027,1985,Tier 3,Supermarket Type3,2237.0880
7778,NCK29,5.615000,LF,0.000000,Health and Hygiene,121.9730,OUT046,1997,Tier 1,Supermarket Type1,2463.4600
6577,NCR41,17.850000,Low Fat,0.018126,Health and Hygiene,94.9094,OUT017,2007,Tier 2,Supermarket Type1,761.6752
4441,FDB35,12.300000,Regular,0.064619,Starchy Foods,89.8804,OUT046,1997,Tier 1,Supermarket Type1,1286.3256
6474,FDE56,17.250000,Regular,0.159165,Fruits and Vegetables,63.4194,OUT035,2004,Tier 2,Supermarket Type1,1547.9850
5331,FDE44,14.650000,Low Fat,0.171356,Fruits and Vegetables,47.6692,OUT035,2004,Tier 2,Supermarket Type1,739.0380
2198,FDX49,4.615000,Regular,0.101813,Canned,232.2300,OUT035,2004,Tier 2,Supermarket Type1,5126.6600
3843,FDU34,18.250000,Low Fat,0.075501,Snack Foods,123.1046,OUT018,2009,Tier 3,Supermarket Type2,249.0092
3360,FDU32,8.785000,Low Fat,0.000000,Fruits and Vegetables,120.5414,OUT013,1987,Tier 3,Supermarket Type1,1583.9382
5131,NCD18,16.000000,Low Fat,0.072655,Household,229.8668,OUT035,2004,Tier 2,Supermarket Type1,4837.7028
7430,NCO42,21.250000,Low Fat,0.024694,Household,144.1102,OUT049,1999,Tier 1,Supermarket Type1,1749.7224
2353,FDR10,17.600000,Low Fat,0.010038,Snack Foods,163.5552,OUT035,2004,Tier 2,Supermarket Type1,3086.6488
5873,DRL49,13.150000,Low Fat,0.056418,Soft Drinks,142.4812,OUT035,2004,Tier 2,Supermarket Type1,2422.1804
4920,FDO11,8.000000,Regular,0.050657,Breads,249.9092,OUT010,1998,Tier 3,Grocery Store,249.0092
7634,FDM25,10.695000,Regular,0.061009,Breakfast,177.5712,OUT017,2007,Tier 2,Supermarket Type1,2636.5680
5745,FDO31,12.857645,Regular,0.028842,Fruits and Vegetables,81.4960,OUT027,1985,Tier 3,Supermarket Type3,1997.4000
4166,FDC50,15.850000,Low Fat,0.137270,Canned,94.4094,OUT017,2007,Tier 2,Supermarket Type1,1904.1880
3867,FDY38,13.600000,Regular,0.119077,Dairy,231.2300,OUT013,1987,Tier 3,Supermarket Type1,2330.3000

In [49]:
sales_df['Item_Fat_Content'].value_counts() # irregular labelling in Fat Content classification

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [51]:
sales_df['Item_Fat_Content']= sales_df['Item_Fat_Content'].replace(['LF','low fat'], 'Low Fat')  #replace 'LF' and 'low fat' labels

In [52]:
sales_df['Item_Fat_Content'] = sales_df['Item_Fat_Content'].replace('reg', 'Regular') # Replace 'reg' label

In [53]:
sales_df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [61]:
nums = sales_df.filter(['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Item_Outlet_Sales'], axis = 1) # new df of only numerical columns from sales_df

In [64]:
nums.describe().round(2) # statistics of numerical columns

       Item_Weight  Item_Visibility  Item_MRP  Item_Outlet_Sales
count      8523.00          8523.00   8523.00            8523.00
mean         12.86             0.07    140.99            2181.29
std           4.23             0.05     62.28            1706.50
min           4.56             0.00     31.29              33.29
25%           9.31             0.03     93.83             834.25
50%          12.86             0.05    143.01            1794.33
75%          16.00             0.09    185.64            3101.30
max          21.35             0.33    266.89           13086.96